<div class="container">
    <div class="row">
        <h2 class="color">Doctor Details</h2>
    </div>
</div>

<div *ngIf="currentDoctor">
    <div class="container">
        <div class="row" id="capital">
            <div class="col heading">
                <label><strong>Name:</strong></label>
            </div>
            <div class="col text">
                {{ currentDoctor.username }}
            </div>
            <div class="w-100"></div>
            <div class="col heading">
                <label><strong>Age:</strong></label>
            </div>
            <div class="col text">
                {{ currentDoctor.age }}
            </div>
            <div class="w-100"></div>
            <div class="col heading">
                <label><strong>Gender:</strong></label>
            </div>
            <div class="col text">
                {{ currentDoctor.gender }}
            </div>
            <div class="w-100"></div>
            <div class="col heading">
                <label><strong>Email:</strong></label>
            </div>
            <div class="col text" id="email">
                {{ currentDoctor.email }}
            </div>
            <div class="w-100"></div>
            <div class="col heading">
                <label><strong>Phone No:</strong></label>
            </div>
            <div class="col text">
                {{ currentDoctor.phno }}
            </div>
        </div>
    </div>
</div>

<br>
<div class="container">
    <div class="row">
        <h2 class="color">Patient Information</h2>
    </div>
</div>

<div class="container">
    <div class="row">
       <app-patientlist></app-patientlist>
    </div>
</div>
